header {
    background-color: #F0F8FF;
    padding: 140px 0 100px;
    background-image: url("../img/file.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.first-section {
    margin-top: 35px;
}